<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pk.alarmzy">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Required to run service from background Pre O -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30"
        tools:ignore="GradleOverrides" />

    <application
        android:name="com.pk.alarmzy.misc.MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents">
        <activity
            android:name="com.pk.alarmzy.settings.SettingsActivity"
            android:parentActivityName="com.pk.alarmzy.MainActivity" />

        <receiver
            android:name="com.pk.alarmzy.misc.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Set flags to ensure that AlarmTrigger activity is shown on lock screen -->
        <activity
            android:name="com.pk.alarmzy.alarm.AlarmTriggerActivity"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:showWhenLocked="true"
            android:turnScreenOn="true" />

        <service
            android:name="com.pk.alarmzy.alarm.services.AlarmService"
            android:enabled="true" />
        <service
            android:name="com.pk.alarmzy.alarm.services.ReSchedAlarmService"
            android:enabled="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <activity android:name="com.pk.alarmzy.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>